asgiref
atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.3
click
colorama
fastapi==0.67.0
h11
idna==3.2
iniconfig==1.1.1
packaging==21.0
pluggy==0.13.1
py==1.10.0
pydantic==1.8.2
pyparsing==2.4.7
pytest==6.2.4
requests==2.26.0
starlette==0.14.2
toml==0.10.2
typing-extensions
urllib3==1.26.6
uvicorn
wincertstore==0.2